<%- include('partials/header.ejs')%>
<div class="container d-flex flex-column p-4 gap-4 py-md-5 align-items-center justify-content-center">
  <% if (locals.title.length > 0) { %>
      <% title.forEach((blog, index) => { %>
          <div class="d-flex flex-column list-group w-100">
            <form action="/view" method="GET">
                <input type="hidden" name="index" value="<%= index %>">
                <button type="submit" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
                    <div class="d-flex gap-2 justify-content-between align-items-center">
                        <div>
                            <h6 class="mb-0"><%= blog %></h6>
                        </div>  
                    </div>
                </button>
            </form>
            
          </div>
      <% }) %>
  <% } else { %>
      <h4>No blog posts yet</h4>
  <% } %>
</div>
<%- include('partials/footer.ejs')%>
